<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>000Web-Host</title>
</head>
<body>
    <nav class="navi">
        <button>Home</button>
        <button>Sound</button>
        <button>Contact us</button>
        <button>Sign Up</button>
    </nav>
    <h1 class="head-1">Drag and Drop your File</h1>
    <div class="container-1">
        <a href="/signup"><button>Drop File</button></a>
    </div>
</body>
</html>